/* spinner-text */
/* spinner-sector-red */
/* spinner-sector-blue */
/* spinner-sector-green */

* {
  box-sizing: border-box;
}

.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.spinner-text {
  animation: loading-opacity 3s ease-out infinite;
  font-size: 2em;
}
.spinner-sector {
  border-radius: 50%; /* Make it perfectly round */
  position: absolute;
  width: 100%;
  height: 100%;
  border: 15px solid transparent;
  border-top: 15px solid blue;
  mix-blend-mode: overlay;
}

.spinner-sector-blue {
  border-top: 15px solid lightblue;
  animation: rotate 2s ease-out infinite;
}

.spinner-sector-red {
  border-top: 15px solid lightcoral;
  animation: rotate 2.5s ease-in infinite;
}

.spinner-sector-green {
  border-top: 15px solid lightgreen;
  animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading-opacity {
  0%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.1;
  }
}
