.App {
    max-width: 800px;
    margin:0 auto;

}

.App-nav {
    margin: 18px;
    padding: 0px;
    border-bottom: 2px solid #ca7750;
}
.App-nav ul {
    padding: 0;
    margin:0;
}

.App-nav button {
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.App-nav-item {
    list-style: none;
    display: inline-block;
    margin-right: 32px;
    font-size: 24px;
    border-bottom: 4px solid transparent;
}
.App-content {
    margin: 0 20px;
}