.custom-select-container,
.custom-select-value, 
.custom-select-options, 
.custom-select-option {
  box-sizing: border-box;
}

.custom-select-container {
  display: inline-block;
  position: relative;
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border: 1px solid black;
  padding: .25rem .5rem;
  cursor: pointer;
  user-select: none;
}

.custom-select-container:focus > .custom-select-value {
  border-width: 2px;
  outline: none;
}

.custom-select-value::after {
  content: '';
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: black;
  margin-left: 12px;
  margin-top: 4px;
}

.custom-select-options {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  width: 100%;
  border-top: none;
  max-height: 200px;
  overflow-y: auto; 
}

.custom-select-options.show {
  display: block;
}

.custom-select-option {
  padding: .25rem .5rem;
  cursor: pointer;
}

.custom-select-option:hover {
  background-color: hsl(200, 100%, 70%);
}

.custom-select-option.selected {
  background-color: hsl(200, 100%, 50%);
}