* {
    margin:0;
    padding:0;
}

body {
       /* The image used */
       background-image: url("images/background.jpg");
       

       /* Full height */
       height: 100%;
   
       /* background: #3df url('../img/motorcycle1_unsplash.jpg') no-repeat fixed center; */
   
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   
       background-attachment: fixed;



        /* Opacity hack */
       background-color: hsla(0,0%,65%,0.70);
       background-blend-mode: overlay;
       background-repeat: no-repeat;
}

.PageTitle {
    font-family: 'Lora', serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}


.SearchBarContainer {
    margin: 5px;
    display: flex;
    justify-content:center;
}
.SearchBar {
    color: cadetblue;
    background-color: black;
    width: 50%;
    margin: 1em 2em;
    font-family: 'Lora', serif;
    font-size: 1.1em;

    border-color: cadetblue;
    outline: none;
}

.CardList {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content:flex-start;

    font-family: 'Lora', serif;

    margin: 25px;

}

.Card img {
    height:auto;
    width:auto;
    max-width:5em;
    max-height:5em; 
    margin-bottom: 0px;
    margin-right: 0px;
    vertical-align: middle;
}

.Card {
    background-color: black;
    color:cadetblue;
    width:21em;
    height:5em;
    margin:.4em;
    border:1px;
    border: solid 1px;
    border-color: cadetblue;
    border-radius:.5em;
    display: flex;
    flex-direction: row;
    font-size: .9em;
    padding: .3em .1em .3em .4em;
    align-items: flex-start;
}

.CardText {
    flex-direction: column;
    justify-content:start;
    align-items:flex-start;
    margin: 0 .5em;
}

.CardText p {
    font-family: 'Lora', serif;
    font-size: smaller;
    font-weight: bold;
}

