* {
    border: 0;
    margin:0;
}

.full-screen-video-container {
    position: relative; /* needed to absolute positioning of inside elements to work */
    height: 100vh;
    width:  100vw;
    overflow: hidden; /* Prevent scrollbars because of video bigger than browser window */ 

    /* Center text */
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.full-screen-video-container video {
    z-index: -1; /* Low=Behind, High=In Front */

    position: absolute;
    width: auto;  /* Scale while preserving the aspect ration */
    height: auto; /* Scale while preserving the aspect ration */
    min-width: 100%;
    min-height: 100%;

    /* Next three commands make the browser show the center of the */
    /* video in case its bigger than the browser window            */
    top:50%;    /* Video origin in middle of screen */
    left:50%;   /* Video origin in middle of screen */
    transform: translate(-50%, -50%);
}

.full-screen-video-content {
    background-color:#ffffff5d;
    color: #333;
    padding: 20px;
    font-size: 70px;
    margin-top: 100px;
}