body {
    margin:0;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
    --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time));
}

nav {
    background-color: rgb(149, 149, 248);
    color:white;    
    /* params: animation(keyframe) name, length, transationtype, delayBeforeStart */
    /* animation: nav-load 300ms ease-in 400ms; */
    animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
    margin: 0; 
    display: flex;
    justify-content: center;
}

nav li {
    font-size: 2em;
    list-style: none; /* Remove dots from list items */
    padding: 10px; /* Space navbar entries apart */
    margin: 0 10px; /* 0 for up/down, 10 for left/right */
    
    /* Instead of animtion, you can split it up like this: */
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;

    transform:scale(0); /* Start invisible, to make grow animation look good */
    animation-fill-mode: forwards; /* Without this, scale would revert to 0 after finishing animation */
}

nav li:hover {
    background-color: #ffffff44;
}


nav a {
    color:inherit;
    text-decoration: none; /* remove link underline */
}

main {
    padding: 30px; /* padding between content and edge of screen */
}


h1 {
    animation: article-load 300ms ease-in var(--article-load-delay);

    transform: translateY(-20px);
    opacity:0;
    animation-fill-mode: forwards; /* Without this, opacity+translateY would revert to -20/0 after finishing animation */
}

p {
    animation: article-load 300ms ease-in calc(var(--article-load-delay)+200ms);

    transform: translateY(-20px);
    opacity:0;
    animation-fill-mode: forwards; /* Without this, opacity+translateY would revert to -20/0 after finishing animation */    
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity:0;
    }

    100% {
        transform: translateY(0px);
        opacity:1;
    }
}