* {
    /* Inlude margin+padding in width/height.
       See also: https://www.w3schools.com/css/css3_box-sizing.asp
    */
    box-sizing: border-box;

    /* Should default in all projects, because now sharing
       same width/height means elements are really equal size.
    */
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container label {
    cursor: pointer;
    display: flex; /* Needed for before pseudo before element, otherwise it will have no width */
}

.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    
    /* setting position:absolute =>
        checkbox is no longer taking up space in the document 
        set opacity back above 0 for testing will show its floating
        somewhere around the accompanying label.
    */
    position: absolute; 
}

/* As we have hidden the checkbox rectangle itself, we
   now create our own, styled checkbox using a pseudo element
*/
.checkbox-container label::before {
 content:'';
 width: 1em;
 height: 1em;
 border: 0.1em solid black; 
 border-radius: .25em;  
 margin-right: .5em;
}

/* This will work only if label is AFTER input in HTML,
   because the '+' relies on the label be the next sibling
   to the input(checkbox) element.
*/
.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
    background-color: rgba(66, 105, 233, 0.582);
}

.checkbox-container input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 20px black;
}

.checkbox-container input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: rgba(0,0,0,0);
    display:flex;

    
    justify-content: center; /* x-align */
    align-items: center /* y-align */
}