
/* Center content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* view height 100% */
    margin: 0;
}

.avatar {
    width: 200px;
    height: 200px;

    /* Cut out circle out of necromancer.jpg */
    border-radius: 50%;
    background-image:url('necromancer.jpg');
    background-size:cover;
    background-position: center;

    position:relative;
}

/* ::before erzeugt ein Pseudo-Element vor dem Avatar Element */

.avatar::before,
.avatar::after {
    --scale:0; /* CSS variable used in transform command */
    --tooltip-color: #333;
    --arrow-size: 20px;
    --translate-y: -100%;
    --arrow-offset: 10%;

    transition: 50ms transform;
    transform-origin: bottom center;

    position: absolute;
    content:'';
    top:-.25em; /* If 0, tooltip would touch avatar image */
    

    /* left= X-Distance to parent element, percentage is related to parent element */
    left: 50%; /* left 50% + translateX -50% => perfect center */

    /* css var --translate-y has a fallback value of 0 */
    transform: translateX(-50%) translateY(var(--translate-y,0)) scale(var(--scale));

}

.avatar::before {
    --translate-y: calc(-100% - var(--arrow-size) );
    --tooltip-font-size: 150%;


    content: attr(data-tooltip);
    font-size: var(--tooltip-font-size);

    justify-content: center;
    color: yellow;
    padding: .5em; 
    margin:0;
    width:max-content; /* Instead ans width&height, let content decide on it.*/
    max-width: 100%;   /* But not wider than parent width */
    background: var(--tooltip-color);

    border-radius: .3rem;
    text-align:center;

    /* Only needed when arrows need different translateY */
    /* font-scale: 100%, pointer translateY=100% */
    /* font-scale: 150%, pointer translateY=110% */

    transform: translateX(-50%) translateY(-110%) scale(var(--scale));
  
    /*transform: translateX(-50%) translateY(calc(-100%-var(--arrow-offset))) scale(var(--scale)); */
}

.avatar:hover::before,
.avatar:hover::after {
    --scale: 1; /* CSS variable used in transform command */
}

/* Pointer Triangle element */
.avatar::after {
    --translate-y: calc(-1*var(--arrow-size));

    content:''; 
    
    /* Triangle trick: https://css-tricks.com/snippets/css/css-triangle/ */
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}