@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
	background-color: #131316;
	color: #ffffff;
	font-family: 'Inconsolata', sans-serif;
	padding: 0;
	margin: 0;
}

section {
	display: grid;
	place-items: center;
	align-content: center;
	min-height: 100vh; /* Just some spacing for demo purpose */
}

.hidden {
	opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}