* {
    margin:0;
    padding:0;
}

body {
       /* The image used */
       /* background-image: url("images/background.jpg"); */
       

       /* Full height */
       height: 100%;
   
       /* background: #3df url('../img/motorcycle1_unsplash.jpg') no-repeat fixed center; */
   
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   
       background-attachment: fixed;



       background-color: white;

}


.CenteringContainer {
    margin: 5px;
    display: flex;
    justify-content:center;
}

.usergrid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
}

.grid-item {
    text-align:center;
}