* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  margin: 0; /* Background image should cover full background  */
}

.full-screen-container {
  background-image: url("background-image.jpeg");
  height: 100vh; /* 100% View Height */
  width: 100vw;
  background-size: cover;
  background-position: center;

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: hsla(201, 100%, 6%, 0.6);
  padding: 50px 30px;
  min-width: 400px;
  max-width: 600px;
  width: 50%;
}

.login-title {
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.5em;
  font-weight: normal;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  color: white;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.input-group input {
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 91%, 0.3);
  border: 1px solid hsla(201, 100%, 6%);
  outline: none;
  color: white;
  font-weight: lighter;
}

.input-group input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}

.login-button {
  padding: 10px 30px; /* top-bottom left-right */
  width: 100%;
  border-radius: 5px;

  background-color: hsla(201, 100%, 50%, 0.1);
  border: 1px solid hsla(201, 100%, 50%);
  outline: none;
  font-size: 1.5em; /* Same size as labels */
  color: white;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: hsla(201, 100%, 91%, 0.3); /* 30% opaque on hover*/
}

.login-button:focus {
  background-color: hsla(201, 100%, 91%, 0.5); /* 50% opaque on focus*/
}
